/build
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
/scratch
*/Makefile
*/CMakeFiles
/.idea
*-main.c
*-main.py
0x0C-python-almost_a_circle/models/test.sh
0x0C-python-almost_a_circle/models/base_afeez.py
0x0B-python-input_output/add_item.json
0x0B-python-input_output/student.json
student.json
0x0B-python-input_output/101-generator.py
